huggingface-hub           0.31.4
matplotlib                3.10.3
matplotlib-inline         0.1.7
numpy                     2.2.6
openai                    1.82.0
packaging                 24.2
pandas                    2.2.3
pandocfilters             1.5.1
pillow                    11.2.1
pipreqs                   0.5.0
platformdirs              4.3.8
plotly                    6.1.1
pydeck                    0.9.1
regex                     2024.11.6
scikit-learn              1.6.1
scipy                     1.15.3
seaborn                   0.13.2
streamlit                 1.45.1
toml                      0.10.2
torch                     2.7.0
torchvision               0.22.0
transformers              4.52.3
